{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        <a href="/teachers/create">
            <img class="add-user" src="/assets/person_add-white.svg" alt="Adicionar usuário">
        </a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ student.avatar_url }})"></span>
                            {{ student.name }}
                        </td>
                        <td>
                            {% for service in student.services %}
                                <span class="service">{{ service }}</span>
                            {% endfor %}
                        </td>
                        <td><a href="/students/{{student.id}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}