#content {
    align-content: center;
    margin: 12px 30px;
}

#content h2 {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-top: 40px;
}

#logo {
    width: 15%;
    display: flex;
    justify-content: center;
    padding: 12px 24px;
    margin: 30px auto;

    color: white;

}

#logo img {
    margin-right: 16px;
}

#technologies {
    background-color: #7159c1;
    color: white;

    margin: 30px 200px;
    padding: 12px 24px;
    border-radius: 8px;
}

#technologies h3 {
    font-size: 24px;
    line-height: 34px;
}

#technologies ul {
    font-size: 24px;
    line-height: 34px;

    margin-top: 14px;
    margin-bottom: 14px;

    list-style-type: none;
}