{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <a class="add-user" href="/teachers/create">
                <img class="add-user" src="/assets/person_add-white.svg" alt="Adicionar usuário"> 
            </a>
            <form action="/teachers" method="GET">
                <input
                    type="text"
                    name="filter"
                    placeholder="Nome ou área de atuação"
                    value="{{ filter }}"
                >
                <button type="submit">Filtrar</button>
            </form>

        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ teacher.avatar_url }})"></span>
                            {{ teacher.name }}
                        </td>
                        <td>
                            {# {% for subject_taught in teacher.subjects_taught %} #}
                                <span class="service">{{ teacher.subjects_taught }}</span>
                            {# {% endfor %} #}
                        </td>
                        <td><a href="/teachers/{{teacher.id}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination"
            data-page=5
            data-total=7
            data-filter={{filter}}
        ></div>
    </div>
{% endblock content %}