{% extends "layout.njk" %}

{% block head %}
    <title>{{ course.title }}</title>
{% endblock%}

{% block content %}

        <section class="course">
                <div class="course" id="{{ course.id }}">
                    <div class="card_image-container">
                        <iframe src="http://rocketseat.com/{{ course.id }}" frameborder="0"></iframe>

                    </div>
                </div>

        </section>

{% endblock %}

{% block footer %}
{% endblock footer %}