<!DOCTYPE html>
<html>

    <head>
        
        {% block head %}    
            <title>Teach.me</title>
        {% endblock head %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        
        <header>
            <div class="links">
                <a href="/" class="active">Teachers</a>
                <a href="/Students">Students</a>
            </div>
        </header>
        
        <div class="background-image">
            {% block content %}{% endblock content %}
        </div>
    </body>


</html>